/* ESTILOS DEL INDEX */
body {
  background-color: #060606; }

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse; }

.titulo-lateral h1 {
  color: aliceblue;
  font-family: Helvetica, sans-serif;
  text-align: left;
  justify-content: center;
  padding: 80px;
  font-size: 40px; }

/* Ultimos releases */
.latest {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  text-align: center; }

#worlds-unseen, #endless-road, #set, #tpas2, #tpas1 {
  display: flexbox;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  text-align: center;

}

#worlds-unseen a img{
  width: 400px;
}
#endless-road a img{
  width: 400px;
}

#set a img{
  width: 400px;
}

/* BIOGRAFIA */
.titulobio {
  padding: 15px;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  color: aliceblue;
  text-align: center; }

.historia {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: oblique;
  text-indent: 1cm;
  color: whitesmoke;
  text-align: left; 
  column
}


/* Estilos del FOOTER */
footer {
  background-color: #464141; }

.redes ul {
  list-style: none;
  padding-top: 5px;
  justify-content: flex-start; }

.redes ul li a {
  text-decoration: none;
  font-size: smaller;
  color: #8e8c8f; }

.textofooter {
  display: flexbox;
  justify-content: flex-end;
  align-items: center; }

/* DISCOGRAFIA */
.discografia {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 10px; }

.releases {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(53, 54, 100, 0.288); }

.releases-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: whitesmoke;
  }

#endless-road img{
  width: 314px;
  border: 1px solid white;
}
#set img{
  width: 314px;
  border: 1px solid white;
}
#worlds-unseen img{
  width: 310px;
  border: 1px solid white;
}
#tpas2 img{
  width: 320px;
  border: 1px solid white;
}
#tpas1 img{
  width: 341px;
  border: 1px solid white;
}

.titulo-eventos {
  padding: 15px;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  color: aliceblue;
  text-align: center; }

.grilla-eventos {
  color: aliceblue;
  text-align: center;
  display: grid;
  grid-template-areas: "mayo"
 "junio"
 "julio"
 "agosto"; }

.mayo {
  grid-area: mayo; }

.junio {
  grid-area: junio; }

.julio {
  grid-area: julio; }

.agosto {
  grid-area: agosto; }

.botoncompra {
  justify-content: center; }

/* CONTACTO */
.titulocontacto {
  color: whitesmoke; }

.redes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;   
}

.redes a img{
  width: 50px;
}

.formulariocontacto {
  color: whitesmoke; }

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
  .titulo-lateral h1 {
    font-size: 70px; } }

.grilla-eventos {
  display: grid;
  grid-template-areas: "mayo junio"
 "julio agosto"; }

/* ANIMACIONES / TRANSICIONES */
.foto-lateral {
  transition-property: all;
  transition-duration: .5s;
  opacity: 1;
  animation-name: fade-in;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 2s; }

.foto-lateral:hover {
  transform: scale(0.9); }

#worlds-unseen, #endless-road, #set, #tpas2, #tpas1 {
  transition-property: all;
  transition-duration: .5s; }

#worlds-unseen:hover, #endless-road:hover, #set:hover, #tpas2:hover, #tpas1:hover {
  transform: scale(1.5); }

#endless-road:hover {
  transform: scale(1.5); }

#set:hover {
  transform: scale(1.5); }

#tpas2:hover {
  transform: scale(1.5); }

#tpas1:hover {
  transform: scale(1.5); }

@keyframes fade-in {
  0% {
    transform: translateX(500px);
    opacity: 0; }
  50% {
    transform: translateX(80px);
    opacity: .5; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

.barranegra {
  padding: 30px;
  background-color: #060606; }
