    /* BIOGRAFIA */

//Mixin
@mixin textformat ($pad, $fsize) {
    padding: $pad;
    font-size: $fsize;
}

    .titulobio{
        @include textformat (15px,20px);
        font-family: Helvetica, sans-serif;        
        color: $color-titulos;
        text-align: center;
    }
    
    .historia{
        font-family: $fuente-principal;
        font-size: 16px;
        font-style: oblique;
        text-indent: 1cm;
        color: $color-texto;
        text-align: left;
    }