/* CONTACTO */

.titulocontacto{
    color: $color-texto;
}

.redes {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.formulariocontacto{
    color: $color-texto;
}

//Fin Contacto//