/* Ultimos releases */

.latest{
    font-family: $fuente-principal;
    color: $color-texto;
    text-align: center;
}

// Usos del EXTEND
#worlds-unseen{
    font-family: $fuente-principal;
    color: $color-texto;
    text-align: center;
}

#endless-road{
    @extend #worlds-unseen;
}

#set{
    @extend #worlds-unseen;
    
}





