// Variables
$color-texto: whitesmoke;
$color-titulos: aliceblue;
$fuente-principal: Arial, Helvetica, sans-serif;
$tamanoimg: 45vh;

// MAP
$coloresfondo: (
    fondo1:  #060606,
    fondo2: #464141,
);


//Imports
@import "index";
@import "releases";
@import "biografia";
@import "footer";
@import "discografia";
@import "eventos";
@import "contacto";
@import "queries";
@import "animations";
@import "separador";


// MIXINS
@mixin textformat ($pad, $fsize) {
    padding: $pad;
    font-size: $fsize;
}











